@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.btn-agregar{
  font-size: 25px;
  cursor: pointer;
  color: #FFFFFF;
}
.btn-agregar:hover{
  color: green;
}
.btn-actualizar{
  font-size: 25px;
  cursor: pointer;
}
.btn-eliminar{
  font-size: 25px;
  cursor: pointer;
}
.barnav{
  height: 50px;
  background: #000000;
}
.cabecera{
  position: sticky;
  top: 50px;
  z-index: 1020;
}
.font-gv{
  font-family: 'Orbitron', sans-serif!important;
}
.cursor-p{
  font-size: 20px;
  margin: 0;
  padding: 0;
  line-height: 40px;
  cursor: pointer;
  color: #FFFFFF;
  font-weight: bolder;
}
th{
  background-color: #2d2929!important;
  color: #FFFFFF;
}
.bodyt{
  margin: 0;
  padding: 0;
}
@media(max-width: 887px){
  .log{
    display: none;
  }
  .btn-agregar{
    width: 100%;
    padding: 0;
  }
  .bbnv{
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 542px) {
.cpb{
    width: min-content;
  }
}
.main{
  background-image: url(../fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
}
.code{
  background: rgba( 255, 255, 255, 0.20 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 4.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 25vw;
  height: 250px;
  margin: auto;
  margin-top: 25vh;
}
.text-ce{
  text-align: center;
  text-shadow: 2px 2px 3px #000;
  font-size: 30px!important;
}
.tit-codi{
  text-align: center;
  color: #FFF;
  text-shadow: 2px 2px 3px #000;
}
.codi{
  border-radius: 15px 0px;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  height: 25px;
  box-shadow: 3px 3px 3px;
  font-size: 20px;
  border: 0;
}
.error{
  color: red;
  font-size: 20px;
  position: absolute;
  width: 100%;
  text-align: center;
  display: none;
}
@media(max-width: 895px){
  .code{
    width: 40vw;
    height: 50vh;
  }
}
@media(max-width: 675px){
  .code{
    width: 60vw;
    height: 280px;
  }
}
.bt-cerrar{
  position: absolute;
  right: 0;
  color: #FFFFFF;
  font-size: 25px;
}
.btn-c{
  cursor: pointer;
}
